@CHARSET "ISO-8859-1";

body {
	min-height: 100%;
	margin: 0px 0px 0px 0px;
	background-color: white;
	color: navy;
	padding-top: 50px;
	}

.navbar-fixed-top {
  border: 0;
}

.filter_top{
	
	
}